@font-face {
    font-family: Metropolis-BlackItalic;
    src: url(../font/Metropolis-BlackItalic.otf) format("opentype");
}

  @font-face {
    font-family: Metropolis-Bold;
    src: url(../font/Metropolis-Bold.otf) format("opentype");
}

  @font-face {
    font-family: Metropolis-BoldItalic;
    src: url(../font/Metropolis-BoldItalic.otf) format("opentype");
}

@font-face {
    font-family: Metropolis-ExtraBold;
    src: url(../font/Metropolis-ExtraBold.otf) format("opentype");
}

@font-face {
    font-family: Metropolis-ExtraLight;
    src: url(../font/Metropolis-ExtraLight.otf) format("opentype");
}

@font-face {
    font-family: Metropolis-ExtraLightItalic;
    src: url(../font/Metropolis-ExtraLightItalic.otf) format("opentype");
}

@font-face {
    font-family: Metropolis-Light;
    src: url(../font/Metropolis-Light.otf) format("opentype");
}

@font-face {
    font-family: Metropolis-LightItalic;
    src: url(../font/Metropolis-LightItalic.otf) format("opentype");
}

@font-face {
    font-family: Metropolis-Medium;
    src: url(../font/Metropolis-Medium.otf) format("opentype");
}

@font-face {
    font-family: Metropolis-MediumItalic;
    src: url(../font/Metropolis-MediumItalic.otf) format("opentype");
}

@font-face {
    font-family: Metropolis-Regular;
    src: url(../font/Metropolis-Regular.otf) format("opentype");
}

@font-face {
    font-family: Metropolis-RegularItalic;
    src: url(../font/Metropolis-RegularItalic.otf) format("opentype");
}

@font-face {
    font-family: Metropolis-SemiBold;
    src: url(../font/Metropolis-SemiBold.otf) format("opentype");
}

@font-face {
    font-family: Metropolis-SemiBoldItalic;
    src: url(../font/Metropolis-SemiBoldItalic.otf) format("opentype");
}

@font-face {
    font-family: Metropolis-Thin;
    src: url(../font/Metropolis-Thin.otf) format("opentype");
}

@font-face {
    font-family: Metropolis-ThinItalic;
    src: url(../font/Metropolis-ThinItalic.otf) format("opentype");
}
